.BoardLines {
  display: flex;
  justify-content: space-around;
}

.Board-logo {
  animation: Board-logo-spin infinite 20s linear;
  height: 80px;
}

.Board-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Board-title {
  font-size: 1.5em;
}

.Board-intro {
  font-size: large;
}

@keyframes Board-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
